.logo {
  border-radius: 5px;
  transition: box-shadow 0.4s, opacity 0.4s;
}
.footer__input,
.int-link {
  border-radius: 5px;
  transition: box-shadow 0.4s, color 0.4s, background-color 0.4s, text-shadow 0.4s;
}
.header__btn,
.footer__btn,
.common__filter-btn {
  border-radius: 5px;
  transition: box-shadow 0.4s, color 0.4s, background-color 0.4s;
}
path {
  transition: fill 0.4s, stroke 0.4s;
}
.header__num {
  transition: color 0.4s, background-color 0.4s;
}
.underline-link::after {
  transition: width 0.4s, height 0.4s, opacity 0.4s, background-color 0.4s;
}
.footer__input::placeholder,
.link-accent {
  transition: color 0.4s;
}
.social__link,
.link-accent {
  transition: box-shadow 0.4s, background-color 0.4s;
}
.catalog__link {
  transition: box-shadow 0.4s;
}

.logo:focus,
.footer__input:focus,
.int-link:focus,
.common__filter-btn:focus,
.catalog__link:hover {
  box-shadow: 0 0 0 2px rgba($orange, 0.7);
}
.header__btn:focus,
.link-accent:focus,
.footer__btn:focus,
.common__filter-btn:hover {
  background-color: rgba(255, 122, 80, 0.1);
  box-shadow: 0 0 0 2px rgba($orange, 0.7);
  color: $orange;
  path {
    fill: $orange;
  }
}
.social__link:focus {
  background-color: #FFF2ED;
  box-shadow: 0 0 0 2px rgba($orange, 0.7);
}

.logo:hover {
  box-shadow: none;
  opacity: 0.8;
}
.int-link:hover {
  box-shadow: none;
  color: $orange;
}
.header__btn:hover {
  background-color: $orange;
  path,
  ellipse {
    stroke: #ffffff;
  }
  .header__num {
    color: $orange;
    background-color: #ffffff;
  }
}
.link-accent:hover {
  color: $orange;
  background: #FFFFFF;
  box-shadow: 0 0 0 2px rgba($orange, 0.7), 0px 5px 12px rgba($orange, 0.2);
}
.footer__input:hover::placeholder {
  color: $darkBlue;
  opacity: 0.9;
}
.footer__btn:hover {
  path {
    fill: $orange;
  }
  color: $orange;
  background: #FFFFFF;
  box-shadow: 0 0 0 2px rgba($orange, 0.7);
}
.footer__btn:hover {
  .path {
    fill: $orange;
  }
}
.social__link:hover {
  background-color: $orange;
  box-shadow: none;
  path {
    fill: #ffffff;
  }
}

.logo:active {
  box-shadow: none;
  opacity: 0.4;
}
.header__link:active,
.int-link:active {
  color: $default;
  text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.4);
  box-shadow: none;
}
.header__btn:active {
  box-shadow: none;
  background-color: $orange-light;
  path,
  ellipse {
    stroke: $darkBlue;
  }
  .header__num {
    color: #ffffff;
    background-color: $orange;
  }
}
.underline-link:active::after,
.underline-link:hover::after {
  width: 0;
  height: 0;
  opacity: 0.2;
}
.underline-link:hover::after {
  background-color: $orange;
}
.link-accent:active, 
.footer__btn:active {
  color: $orange;
  background: $orange-light;
  box-shadow: none;
}
.common__filter-btn:active {
  color: $darkBlue;
  background: #FFFFFF;
  box-shadow: inset 0px -5px 12px rgba(255, 104, 56, 0.2);
  path {
    fill: $darkBlue;
  }
}
.footer__btn:active {
  path {
    fill: $orange;
  }
}
.social__link:active {
  background-color: #FFF2ED;
  box-shadow: none;
  path {
    fill: $orange;
  }
}

