.catalog {
  margin-bottom: 60px;
  &__category {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(minmax(1,2), 1fr);
    grid-gap: 30px;
  }
  &__item {
    position: relative;
  }
  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 20px 15px 52px;
    background-color: #ffffff;
    box-shadow: 0px 0px 0px 1px #ECECEC;
    border-radius: 5px;
  }
  &__img {
    margin-bottom: 10px;
  }
  &__text {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 1.2;
    overflow: hidden;
  }
  &__price {
    margin: auto 0 10px 0;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 1.4;
  }
  &__btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 7px 16px;
    font-size: 14px;
    color: #ffffff;
    background-color: $orange;
    border-radius: 6px;
  }
}