.common {
  padding-bottom: 120px;
  text-align: center;
  &__title {
    @extend %rubik-500;
    font-size: 36px;
    color: $darkBlue;
    margin-bottom: 60px;
  }
  &__filter {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 45px;
  }
  &__item:not(:last-child) {
    margin-right: 20px;
  }
  &__filter-btn {
    display: flex;
    align-items: center;
    @extend %btn;
    color: $darkBlue;
    background-color: #ffffff;
    box-shadow: 0px 0px 0px 1px #ECECEC;
  }
  &__icon {
    margin-right: 10px;
  }
  &__link {
    // margin-bottom: 120px;
    @extend %underline-link;
  }
}

@import 'catalog';