.product-card {
  position: relative;
  height: 100%;

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 20px 15px 52px;
    background-color: #ffffff;
    box-shadow: 0px 0px 0px 1px #ECECEC;
    border-radius: 5px;
    transition: box-shadow 0.4s;
    &:focus {
      box-shadow: 0 3px 15px rgba($orange, 0.5);
    }
    &:hover {
      box-shadow: 0 0 0 2px rgba($orange, 0.7);
    }
  }

  &__img {
    margin-bottom: 10px;
  }

  &__text {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 1.2;
    overflow: hidden;
  }

  &__price {
    margin: auto 0 10px 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.4;
  }

  &__btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 7px 16px;
    font-size: 14px;
    color: #ffffff;
    background-color: $orange;
    border-radius: 6px;
  }
}