.contacts {
  margin-bottom: 15px;

  &__item {
    margin-bottom: 15px;
  }

  &__link {
    display: block;
  }

  &__content {
    display: block;
    padding-left: 31px;
    font-style: normal;
    font-size: 16px;
    line-height: 2;
    position: relative;
    &:hover {
      .path {
        stroke: $orange;
      }
    }
    &:active {
      .path {
        stroke: $default;
        stroke-shadow: 2px 2px 5px rgba(49, 53, 43, 0.4);
      }
    }
  }

  &__icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.social {
  display: flex;

  &__link {
    display: block;
    width: 40px;
    height: 40px;
    background-color: $silver2;
    border-radius: 50%;
    transition: box-shadow 0.4s, background-color 0.4s;
    &:focus {
      background-color: #FFF2ED;
      box-shadow: 0 0 0 2px rgba($orange, 0.7);
    }
    &:hover {
      background-color: $orange;
      box-shadow: none;
      .path {
        fill: #ffffff;
      }
    }
    &:active {
      background-color: #FFF2ED;
      box-shadow: none;
      .path {
        fill: $orange;
      }
    }
  }

  &__icon {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__item:not(:last-child) {
    margin-right: 13px;
  }
}