.footer {
  &__top {
    display: flex;
    margin-bottom: 54px;
  }

  &__logo {
    margin-bottom: 30px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    margin-right: 70px;
  }

  &__input {
    margin-bottom: 12px;
    padding: 13px 15px;
    box-shadow: 0 0 0 1px $gray;
    font-size: 14px;
    border-radius: 5px;
    background-color: #FFFFFF;
    transition: box-shadow 0.4s, color 0.4s, background-color 0.4s, text-shadow 0.4s;

    &::placeholder {
      color: #C2C2C2;
      opacity: 0.9;
      transition: color 0.4s;
    }
    &:focus {
      box-shadow: 0 0 0 2px rgba($orange, 0.7);
    }
    &:hover::placeholder {
      color: $darkBlue;
      opacity: 0.9;
    }
  }

  &__btn {
    font-weight: 500;
    transition: box-shadow 0.4s, color 0.4s, background-color 0.4s;
    &:focus {
      background-color: rgba(255, 122, 80, 0.1);
      box-shadow: 0 0 0 2px rgba($orange, 0.7);
      color: $orange;
      .path {
        fill: $orange;
      }
    }
    &:hover {
      .path {
        fill: $orange;
      }
      color: $orange;
      background: #FFFFFF;
      box-shadow: 0 0 0 2px rgba($orange, 0.7);
    }
    &:active {
      .path {
        fill: $orange;
      }
      color: $orange;
      background: $orange-light;
      box-shadow: none;
    }
  }

  &__icon {
    margin-right: 15px;
  }

  &__menu {
    display: grid;
    margin-top: -1px;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: 23px;
    grid-gap: 20px 71px;
    margin-right: 70px;
  }

  &__link {
    display: inline-block;
    font-size: 18px;
    letter-spacing: 0.01em;
  }

  &__bottom {
    padding: 30px 0;
    text-align: center;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 99vw;
      height: 1px;
      background-color: rgba($gray, 0.2);
    }
  }

  &__copy {
    font-size: 14px;
    line-height: 1;
  }
}